{% extends "organization/edit_base.html" %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=c.group_dict, show_nums=false %} 
<h4 class="header" style=" padding:10px; padding-top:30px">  
Form per negare o consentire la visibilita' dei dataset solo a determinati utenti "membri" dell'organizzazione.</br>
A fianco di ogni dataset sono evidenziati gli utenti che attualmente non possono prendervi visione. 
</h4>

{% endblock %}




{% block primary_content_inner %}
     
{% block form %}
<form method="POST" data-module="basic-form" id ='form'>


<button id="black_botton" class="btn btn-danger " type="button" style="float:right" >
			<i class="icon-ban-circle"></i>
                  	{{ _('Modifica permessi') }}
</button>
                  <h4 margin-top:20px>Seleziona gli utenti</label></h4>
                  
                

{#
{% for user in h.vocab_black_list()  %}
{% if user != 'opendata_member' %}


               <input type="checkbox" id="myCheckboxid2" name="target2" value="{{ user }}" style="margin:0;padding:0" > 
		<span class="label label-important" style="color:white; background-color: #206b82; margin:5px;padding:5px; padding-bottom:10px">
			  {{ user }}
			
			 </span></br>
            
{% endif %}
{% endfor %}
#}
<div class="controls">
	<select id="field-black_list" name="black_list" data-module="autocomplete" multiple>
		{% for user in h.vocab_black_list()  %}
			<option value="{{ user }}" {% if user in black_list %} selected="selected"{% endif %}>{{ user }}</option>
										
		{% endfor %}
	</select>
</div>
	 

			

                

               
<h4 style="margin-top:30px">Seleziona i dataset</label></h4>	
   <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
      <col width="10">
      <col width="100">
      <thead>
         <tr>
            <th> 
		
            </th>
            <th>
         	


            </th>
         </tr>

      </thead>
      <tbody>
	 
         {% for package in c.datasets %}
         {% set truncate = truncate or 180 %}
         {% set truncate_title = truncate_title or 70 %}
         {% set title = package.title or package.name %}
         {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
         {% set black_list = package.black_list | replace("{","") | replace("}","") %} 
         <tr>
            <td>
               <input type="checkbox" id="myCheckboxid" name="target" value="{{ package.name }} "  >
            </td>
            <td class="context">
               <h3 class="dataset-heading">
                  {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
		
		</h3>

               	{% if notes %}
			<p>{{ notes|urlize }}</p>
		{% endif %}
		{% if black_list %}
			 {% for user in black_list.split(',')  %}
				{% if user != 'opendata_member' %}
	
		<span class="label label-important" style="padding:5px;margin-bottom: 10px; margin-top: 10px"> 
			<i class="icon-ban-circle"></i>
 			{{user }}</span>
				{% endif %}
		{% endfor %}


		{% endif %}

              
            </td>

         </tr>
         {% endfor %}

      </tbody>
   </table>

{% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %}





<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
   var json = {};
   
   
   //BLACK BUTTON
   
       $(document).ready(function() {
           $("#black_botton").click(function(){
               var dataset= [];
	       var lista_update = [] ;		
		
	       lista_update = $("#field-black_list").val() ;


               $.each($("input[name='target']:checked"), function(){  	
                   		dataset.push($(this).val());
					
				}); //end each	

		/**$.each($("input[name='target2']:checked"), function(){  	
                   		lista_update.push($(this).val());
					
				});*/ //end each   	     	


   	      $.ajax({
   		url:"/api/action/black_list_update",
   			type:"POST", 
   			data:'{"dataset": "'+dataset+'", "lista_update": "'+lista_update+'"}',
   			dataType: "json",
   			success: function(){
				//$('#myCheckboxid2').attr('checked', false); // non va...
   				$('#myCheckboxid').attr('checked', false);
							
				window.alert('Azione completata con successo.');
				 
				window.location.reload();
   				 }
   		});//end ajax
   				
               	
   
   
           });
       });
   
   
   
</script>


 
</form>

{% endblock %} <!--end form-->

 

{% endblock %}<!--end primary-->

