{% extends "page.html" %}
{% block primary_content %}
<ul>
<h2>STATISTICHE DATASET PER ORGANIZZAZIONE</h2>
<hr>
	{% set org = c.organo%}
        {% for x in org%}
<li> {{x}}</li>
{% endfor %}

<hr>


</ul>


<ul>
<h2>STATISTICHE DATASET E RISORSE PER GRUPPO</h2>
<hr>
    <li>{% for item in c.stat %}
	{% set var = item.split('> org =')%}
        {% for x in var%}
 {{x}}</br>

{% endfor %}
<li>

<hr>
    {% endfor %}

</ul>
{% endblock%}


