 {% extends "opendata.html" %}

{% block secondary_content %}
<h1 class="header" style=" color:white;  margin:0px;padding:30px;
	 background-image:url(http://www.larsonmarcom.com/wp-content/uploads/2013/07/14562695_s.jpg);  background-size:     cover;     "></br></br></br></br></h1> 
<h4 class="header" style=" padding:20px; padding-top:40"> 
Seleziona i dataset privati che vuoi rendere pubblici sul catalogo di Direzione.
</h4>


{% endblock %}



{% block primary_content_inner %}


<form method="POST" data-module="basic-form">
			  <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
					  <col width="7">
					  <col width="100">
					  <thead>
						<tr>
						  <th></th>
						  <th class="table-actions">
						 <h2 style="padding-bottom:15px; font-size:20px;">

						  {%- if c.target -%}
							Presenti {{ c.target|count }} dataset privati con risorse in formato OpenData
						  {%- else -%}
							{{ _('Nessun dataset privato con risorse open... ')}}
						  {%- endif -%}
						</h2>
							<div class="btn-group" style="float:right; margin:10px; ">
								<button id="pub_botton" class="btn" type="button">
									<i class="icon-eye-open"></i>
										{{ _('Make public') }} 
								</button>
							  </div>
						  </th>
						</tr>
					  </thead>



					  <tbody>
						{% for package in c.target %}
						  {% set truncate = truncate or 180 %}
						  {% set truncate_title = truncate_title or 100 %}
						  {% set title = package.title or package.name %}
						  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
						  <tr>
							<td>
							<input type="checkbox" name="target" id="mycheck" value="{{ package.name }}" >
							</td>
							<td class="context">
							  <h3 class="dataset-heading">

 
		 					{% for resource in h.dict_list_reduce(package.resources, 'format') %}
                
                 					 <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class=" label " data-format="{{ resource.lower() }}" style="margin-right:5px">
								{{ resource }}
							</a>
                
               						 {% endfor %}
            						

							{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}

							  </h3>
							  {% if notes %}
								<p style="">{{ notes|urlize }}</p>
							  {% endif %}
							</td>
						  </tr>
						{% endfor %}
						</tbody>
					</table>						  			  
					

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script type="text/javascript">

var json = {};

//PUBLIC BUTTON

//$(document).ready(function() {
        $("#pub_botton").click(function(){
		
 		var dataset= [];		
		
               $.each($("input[name='target']:checked"), function(){  	
                   		dataset.push($(this).val());	
				}); //end each
	
	
   	      $.ajax({
   		url:"/api/action/custom_update_to_public",
   			type:"POST", 
   			data:'{"dataset": "'+dataset+'"}',
   			dataType: "json",
   			success: function(){
				$('#mycheck').attr('checked', false);
				window.alert('Azione completata con successo.')
				 
				window.location.reload();
   				 }
   		});//end ajax
   				
               	
   
   
           }); //end rdfclick

</script>



		  
				</form>
{% endblock %}	 



