/* 
	CSS PERSONALIZZATO DA AGGIUNGERE A {CKAN SITE}/ckan-admin/config 

	NB vanno copiati da ckandemo anche:
	- dashboard.html
	- _cloud.js
	- dashboard.css
	- search.html
	- page.html

*/

/* TODO porta in RER*/
.pill {
	background-color: #045E7A;
}


/* 
	skiplink
*/
#hide2 {
	display:inline
}
div.hide>a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #BF1722 ;
    outline: 0;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}
div.hide>a {
    padding: 3px;
    position: absolute;
    top: -40px;
    left: 0px;
    color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-bottom-right-radius: 8px;
    background: transparent;
    -webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}


#content a:link {
	text-decoration: underline; /* sottolineo i link nella pagina interna (non header) */
}

#content a.btn
, #content a>i
, #content a.label
, #content.controls
, #content .nav-item a
, #content .breadcrumb a
, #content .nav-tabs a
, #content .tags a
{
text-decoration: none;
}

@media (max-width: 979px) { /* FIX background focus menu versione mobile */
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background-color: #003445;
		*background-color: #064559;
	}
}

/* 
	COLORE BUTTONS
 */
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #800080;
	background-image: -moz-linear-gradient(top, #800080, #800080);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800080), to(#800080));
	background-image: -webkit-linear-gradient(top, #800080, #f89406);
	background-image: -o-linear-gradient(top, #800080, #800080);
	background-image: linear-gradient(to bottom, #800080, #800080);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800080', endColorstr='#800080', GradientType=0);
	border-color: #800080;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #800080;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
color: #ffffff;
background-color: #800080;
*background-color: #800080;
}
.btn-warning:active,
.btn-warning.active {
background-color: #800080 \9;
}
.btn-group.open .btn-warning.dropdown-toggle {
background-color: #800080 ;
}

.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #800000;
	background-image: -moz-linear-gradient(top, #800000, #800000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800000), to(#800000));
	background-image: -webkit-linear-gradient(top, #800000, #800000);
	background-image: -o-linear-gradient(top, #800000, #800000);
	background-image: linear-gradient(to bottom, #800000, #800000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000', endColorstr='#800000', GradientType=0);
	border-color: #800000 #800000 #800000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #800000;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
color: #ffffff;
background-color: #800000;
*background-color: #800000;
}
.btn-danger:active,
.btn-danger.active {
background-color: #800000 \9;
}

.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #085871;
	background-image: -moz-linear-gradient(top, #085871, #085871);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#085871), to(#085871));
	background-image: -webkit-linear-gradient(top, #085871, #085871);
	background-image: -o-linear-gradient(top, #085871, #085871);
	background-image: linear-gradient(to bottom, #085871, #085871);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#085871', endColorstr='#085871', GradientType=0);
	border-color: #085871 #085871 #03202a;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #085871;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
color: #ffffff;
background-color: #085871;
*background-color: #085871;
}
.btn-primary:active,
.btn-primary.active {
background-color: #085871 \9;
}


/* 
	CSS PERSONALIZZATO DA AGGIUNGERE A {CKAN SITE}/ckan-admin/config 

	NB vanno copiati da ckandemo anche:
	- dashboard.html
	- _cloud.js
	- dashboard.css
	- search.html
	- page.html

*/

/* 
	skiplink
*/

a.label{
	color:black;
	text-shadow: None
	}
	
#hide2 {
		display:inline
	}
	
	
	
	
div.hide>a:focus {
		position: absolute;
		left: 0px;
		top: 0px;
		background: #BF1722 ;
		outline: 0;
		-webkit-transition: top .1s ease-in, background .5s linear;
		transition: top .1s ease-in, background .5s linear;
	}
div.hide>a {
		padding: 3px;
		position: absolute;
		top: -40px;
		left: 0px;
		color: white;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		border-bottom-right-radius: 8px;
		background: transparent;
		-webkit-transition: top 1s ease-out, background 1s linear;
		transition: top 1s ease-out, background 1s linear;
		z-index: 100;
	}
	
	
#content a:link {
		text-decoration: underline; /* sottolineo i link nella pagina interna (non header) */
	}
	
#content a.btn
	, #content a>i
	, #content a.label
	, #content.controls
	, #content .nav-item a
	, #content .breadcrumb a
	, #content .nav-tabs a
	, #content .tags a
	{
	text-decoration: none;
	}
	
@media (max-width: 979px) { /* FIX background focus menu versione mobile */
		.nav-collapse .nav > li > a:hover,
		.nav-collapse .nav > li > a:focus,
		.nav-collapse .dropdown-menu a:hover,
		.nav-collapse .dropdown-menu a:focus {
			background-color: #003445;
			*background-color: #064559;
		}
	}
	
	/* 
		COLORE BUTTONS
	 */
.btn-warning {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #800080;
		background-image: -moz-linear-gradient(top, #800080, #800080);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800080), to(#800080));
		background-image: -webkit-linear-gradient(top, #800080, #f89406);
		background-image: -o-linear-gradient(top, #800080, #800080);
		background-image: linear-gradient(to bottom, #800080, #800080);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800080', endColorstr='#800080', GradientType=0);
		border-color: #800080;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		*background-color: #800080;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  }
	
.btn-warning:hover,
	.btn-warning:focus,
	.btn-warning:active,
	.btn-warning.active,
	.btn-warning.disabled,
	.btn-warning[disabled] {
	color: #ffffff;
	background-color: #800080;
	*background-color: #800080;
	}
.btn-warning:active,
	.btn-warning.active {
	background-color: #800080 \9;
	}
.btn-group.open .btn-warning.dropdown-toggle {
	background-color: #800080 ;
	}
	
.btn-danger {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #800000;
		background-image: -moz-linear-gradient(top, #800000, #800000);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#800000), to(#800000));
		background-image: -webkit-linear-gradient(top, #800000, #800000);
		background-image: -o-linear-gradient(top, #800000, #800000);
		background-image: linear-gradient(to bottom, #800000, #800000);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#800000', endColorstr='#800000', GradientType=0);
		border-color: #800000 #800000 #800000;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		*background-color: #800000;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  }
	
.btn-danger:hover,
	.btn-danger:focus,
	.btn-danger:active,
	.btn-danger.active,
	.btn-danger.disabled,
	.btn-danger[disabled] {
	color: #ffffff;
	background-color: #800000;
	*background-color: #800000;
	}
.btn-danger:active,
	.btn-danger.active {
	background-color: #800000 \9;
	}
	
.btn-primary {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #085871;
		background-image: -moz-linear-gradient(top, #085871, #085871);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#085871), to(#085871));
		background-image: -webkit-linear-gradient(top, #085871, #085871);
		background-image: -o-linear-gradient(top, #085871, #085871);
		background-image: linear-gradient(to bottom, #085871, #085871);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#085871', endColorstr='#085871', GradientType=0);
		border-color: #085871 #085871 #03202a;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		*background-color: #085871;
		/* Darken IE7 buttons by default so they stand out more given they won't have borders */
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  }
.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.btn-primary.active,
	.btn-primary.disabled,
	.btn-primary[disabled] {
	color: #ffffff;
	background-color: #085871;
	*background-color: #085871;
	}
.btn-primary:active,
	.btn-primary.active {
	background-color: #085871 \9;
	}