

<iframe src="{{ resource_view.get('page_url') or resource.get('url') }}" frameborder="0" width="100%" data-module="data-viewer">


 	 <p>{{ _('Your browser does not support iframes.') }}</p>

</iframe>
