
  
 {%set complete_url = h.url_for_static_or_external('/base/images/background-tile.png') %}
 <div class="container" style="background-image:url({{complete_url}}) ;  
  width:100%;  overflow:hidden; padding-top: 25px; padding-bottom: 25px;  " >
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>

<div role="main" style="padding:0">
 	<div class="container" style="width:100%" >
    		<div class="row">
      			<div class="span12" style="width:100%;  overflow:hidden; padding-top: 0px; padding-bottom: 20px;  ">
        			{% block promoted %}
          			{% snippet 'home/snippets/dashboard.html' %}
        			{% endblock %}
      			</div>
		</div>

  	</div>
</div>
