{% extends "base.html" %}

{% block subtitle %}{{ _('GeoViewER') }}{% endblock %}
{%- block page -%}

{% block skip %}
<div id="hide2" class = "hide"><a href="#content" class="skip">{{ _('Skip to content') }}</a></div>
{% endblock %}


{%- block header %}
{% include "header.html" %}
{% endblock -%}

{%- block content %}
		{% block maintag %}
		<div role="main">
			{% endblock %}


{% set moka_url = c.moka_url %}

<!-- LOGGATI -->
{%if c.userobj.apikey %}
	{% set api = c.userobj.apikey %}

	{% if c.resource %}
	<iframe allowfullscreen=true 
		src="{{moka_url}}?ckanApiKey={{api}}&ckanResourceId={{c.resource}}"
		width="100%" height="800px" align="center">
			<p>{{ _('Your browser does not support iframes.') }}</p>
	</iframe>
	{% else %}
	<iframe allowfullscreen=true 
		src="{{moka_url}}?ckanApiKey={{api}}"
		width="100%" height="800px" align="center">
			<p>{{ _('Your browser does not support iframes.') }}</p>
	</iframe>
	{% endif %}

<!-- NON LOGGATI -->
{% else %}

	{% if c.resource %}
	<iframe allowfullscreen=true 
		src="{{moka_url}}?ckanResourceId={{c.resource}}"
		width="100%" height="800px" align="center">
			<p>{{ _('Your browser does not support iframes.') }}</p>
	</iframe>
	{% else %}
	<iframe allowfullscreen=true 
	src="{{moka_url}}"
	width="100%" height="800px" align="center">	
		<p>{{ _('Your browser does not support iframes.') }}</p>
	</iframe>
	{% endif %}

{% endif %}




<!--<iframe allowfullscreen=true src="/catalogCTA/geoviewer/#omnibox-map/{{api}}"+ width="100%" height="500px" align="center"></iframe>-->

</div><!--endmain-->
{% endblock -%}



{%- block scripts %}
{% resource 'base/main' %}
{% resource 'base/ckan' %}
{% if g.tracking_enabled %}
{% resource 'base/tracking.js' %}
{% endif %}
{{ super() }}
{% endblock -%}

{%- block footer %}
{% include "footer.html" %}
{% endblock -%}





{%- endblock -%}<!-- end blockpage -->