{% extends "opendata.html" %}

{% block secondary_content %}
<h1 class="header" style=" color:white;  margin:0px;padding:30px;
	 background-image:url(http://www.michelepasin.org/upload/researcher/software/CohereOnto.png);  background-size:     cover;     "></br></br></br></h1> 
<h4 class="header" style=" padding:10px; padding-top:0">
Seleziona i dataset con risorse di tipo RDF che vuoi rendere accessibili tramite servizio TripleStore sul portale Open Data regionale.
</h4>


{% endblock %}



{% block primary_content_inner %}
{% block form %}

<form method="POST" data-module="basic-form">
			  <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
					  <col width="8">
					  <col width="80">
					  <col width="40">
					  <thead>
						<tr>
						  <th></th>
						  <th class="table-actions">
						  <p style="padding-bottom:15px; font-size:20px;">
						  {%- if c.rdf -%}
							Presenti {{ c.rdf|count }} dataset a visibilita' pubblica con risorse formato RDF
						  {%- else -%}
							{{ _('Nessun dataset con risorsa RDF... ')}}
						  {%- endif -%}</br>
						  </p>

						  </th>
						<th>
						<div class="btn-group" style=" float:center; margin:25px;  ">
							<button id="rdf_botton" class="btn btn-primary" type="button" >
									<i class="icon-arrow-up"></i>
									{{ _('Carica RDF') }}
							</button>
						 </div>

						
							
						</th>
						</tr>
						
					  </thead>



					  <tbody>
						{% for package in c.rdf %}
						  {% set truncate = truncate or 180 %}
						  {% set truncate_title = truncate_title or 80 %}
						  {% set title = package.title or package.name %}
						  {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
						  <tr>
							<td>
							<input type="checkbox" id="mycheck" name="rdf" value="{{ package.name }}" >
							</td>
							
							<td class="context">
							
							  <h3 class="dataset-heading">
							  
		 					{% for resource in h.dict_list_reduce(package.resources, 'format') %}
							{% if resource.lower() =='rdf' %}
                
                 					 <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class=" label " data-format="{{ resource.lower() }}" style="color:white; margin-right:5px">
								{{ resource }}
							</a>
                					{% endif %}
               						 {% endfor %}
            						

							{{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}

								</h3>
							  {% if notes %}
								<p>{{ notes|urlize }}</p>
							  {% endif %}
							</td>
							
							<th>
							{% if package.load_rdf_job_start %}
							<h6 style="color:red">
								JOB {{package.load_rdf_identifier}} RUNNING...</br>
								START: {{package.load_rdf_job_start}}
							</h6>
							


							{% endif %}
							
							
							</th>
							
						  </tr>
						{% endfor %}
						</tbody>
					</table>						  			  
				

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

<script type="text/javascript">

var json = {};

//LOAD RDF BUTTON

//$(document).ready(function() {
        $("#rdf_botton").click(function(){
		
 		var dataset= [];		
		
               $.each($("input[name='rdf']:checked"), function(){  	
                   		dataset.push($(this).val());	
				}); //end each
	
	
   	      $.ajax({
   		url:"/api/action/update_if_loadRDF",
   			type:"POST", 
   			data:'{"dataset": "'+dataset+'"}',
   			dataType: "json",
   			success: function(){
				$('#mycheck').attr('checked', false);
				window.alert('Azione completata con successo.')
				 
				window.location.reload();
   				 }
   		});//end ajax
   				
               	
   
   
           }); //end rdfclick

</script>


</form>
{% endblock %} <!--end form-->

{% endblock %}	 <!--end primary content-->