{% extends "opendata.html" %}

{% block secondary_content %}

<h1 class="header" style=" color:white;  margin:0px;padding:30px;
	 background-image:url(http://www.agenda.unict.it/img/articoli/12535.jpg) ">OpenData Form</br></h1> 
<h4 class="header" style=" padding:10px; padding-top:30px; margin-bottom:20px">  
Seleziona i dataset pubblici che vuoi rendere disponibili sul portale Open Data regionale.
</h4>

{% endblock %}



{% block primary_content_inner %}
     
{% block form %}
<form method="POST" data-module="basic-form">




               

   <table class="table table-bordered table-header table-hover table-bulk-edit table-edit-hover" data-module="table-selectable-rows">
      <col width="7">
      <col width="100">
      <thead>
         <tr>
           <th>	
            </th>
            <th>




<!--
 <div class="btn-group" style="float:right; margin:10px; margin-right:50px">
<button id="update_botton" class="btn btn-danger " type="button"> <i class="icon-eye-close"></i> UPDATE  (FIXME remove)
</button>
</div> 
-->




<!-- 
 <div class="btn-group" style="float:right; margin:10px; margin-right:50px">
<button id="hide_botton" class="btn btn-danger " type="button"> <i class="icon-eye-close"></i> Nascondi  (FIXME remove)
</button>
</div>           
-->
<h2 style="padding-bottom:15px; font-size:20px;">

							{%- if c.target -%}
							Presenti {{ c.target|count }} dataset a visibilita' pubblica
						  {%- else -%}
							{{ _('Nessun dataset pubblico... ')}}
						  {%- endif -%}
						</h2>
  <div class="btn-group" style="float:right; margin:10px">
<button id="open_botton" class="btn btn-primary " type="button" > <i class="icon-star"></i>Rendi OPEN
</button>
</div>


             </th>
         </tr>

      </thead>
      <tbody>
         {% for package in c.datasets %}
         {% set truncate = truncate or 180 %}
         {% set truncate_title = truncate_title or 80 %}
         {% set title = package.title or package.name %}
         {% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
         {% set black_list = package.black_list | replace("{","") | replace("}","") %} 

         <tr>
            <td>
               <input type="checkbox" id = "myCheckboxid" name="target" value="{{ package.name }} "  >
            </td>
            <td class="context">
               <h3 class="dataset-heading">
                  {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
		{% if 'opendata_member' not in black_list.split(',')  %}
			 <span class="label label-important"style="background-color:#005d7a; margin-left:5px"> OpenData <i class="icon-star"></i></span>
		{% else %}
			 <span class="label label-important" style="margin-left:5px"> Non-open <i class="icon-eye-close"></i> </span>
		{% endif %}

               </h3>

               	 {% if notes %}
			<p>{{ notes|urlize }}</p>
		{% endif %}
                  
              
            </td>

         </tr>
         {% endfor %}
      </tbody>
   </table>
</form>
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript">
   var json = {};
   
   
   //OPEN BUTTON
   
      $(document).ready(function() {
           $("#open_botton").click(function(){
               var dataset= [];		
	
               $.each($("input[name='target']:checked"), function(){  	
                   		dataset.push($(this).val());	
				}); //end each	

   	      $.ajax({
   		url:"/api/action/update_opendata",
   			type:"POST", 
   			data:'{"dataset": "'+dataset+'", "flag": "make_true"}',
   			dataType: "json",
   			success: function(){ 
				$('#myCheckboxid').attr('checked', false);
				window.alert('Azione completata con successo.')
				 
				window.location.reload();
   				 }
   		});//end ajax
   				
               	
   
   
           }); //end open click


	//NASCONDI BUTTON

 	$("#hide_botton").click(function(){
               var dataset= [];		
	
               $.each($("input[name='target']:checked"), function(){  	
                   		dataset.push($(this).val());	
				}); //end each	

	     
   	      $.ajax({

   		url:"/api/action/update_opendata",
   			type:"POST", 
   			data:'{"dataset": "'+dataset+'", "flag": "make_false"}',
   			dataType: "json",
   			success: function(){ 
				$('#myCheckboxid').attr('checked', false);
				window.alert('Azione completata con successo.')
				 
				window.location.reload();

   				 }
   		});//end ajax
   				
               	
   
   
           }); //end hide click

	// UPDATE BUTTON
	$("#update_botton").click(function(){
               //window.alert("click");
   	      $.ajax({
   		url:"/api/action/update_all",
   			type:"POST", 
   			data:'{}',
   			dataType: "json",
   			success: function(){ 
				
				window.alert('Azione completata con successo.')
				 
				window.location.reload();

   				 }
   		});//end ajax
	  }); //end update click

       });
   
   
   
</script>


{% block page_pagination %}
    {{ c.page.pager() }}
  {% endblock %}

{% endblock %} <!--end form-->


{% endblock %} <!--end primary-->